---
import config from '../../settings/config.json';

const title = config.site.name;
---
<nav class="SiteNav">
  <ul>
    <li><a href="/about/">About</a></li>
    <li><a href="#">Works</a></li>
    <li><a href="#">News</a></li>
  </ul>
</nav>