---
import config from '../../settings/config.json';
import SiteNav from './SiteNav.astro';
import SiteColorSwitcher from './SiteColorSwitcher.astro';

const title = config.site.name;
---
<header class="SiteHeader">
  <hgroup>
    <h1><a href="/">{title}</a></h1>
  </hgroup>
  <SiteNav />
  <SiteColorSwitcher />
</header>