---
import "../assets/scss/style.scss";
import HtmlHead from '../modules/global/HtmlHead.astro';
import Header from '../modules/global/SiteHeader.astro';
import Footer from '../modules/global/SiteFooter.astro';

interface Props {
	pageTitle: string;
	pageDesc: string;
  pageType: string;
  pageRole: string;
}

const { pageTitle }  = Astro.props;
const { pageDesc }   = Astro.props;
const { pageType }   = Astro.props;
const { pageRole }   = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
    <HtmlHead
      pageTitle={pageTitle}
      pageDesc={pageDesc}
    />
    <script src="../../src/assets/ts/main.ts" defer></script>
	</head>
	<body data-page-type={pageType} data-page-role={pageRole}>
    <div id="SiteWrapper">
      <Header />
      <section class="pageContents">
        <slot />
      </section>
      <Footer />
    </div>
	</body>
</html>
<style is:global>
</style>
